<div class="follow-us mod-info">
  <h3>Follow us</h3>
  <div class="mod-follow-us">
    <ul>
      <li><%= link_to(' ',"https://twitter.com/CWWDirector", :class=>"twitter", :target=>"_blank") %></li>
      <li><%= link_to(' ',"https://www.facebook.com/Children-Without-Worms-182694558452397/timeline/", :class=>"facebook", :target=>"_blank") %></li>
      <li><a class="email" href="mailto:cww@taskforce.org"></a></li>
    </ul>
  </div>
</div>
