<div class="row">
  <div class="mod-backoffice-menu">
    <!-- <a href="http://<%= Settings.main_site_host %>" class="interaction-logo"><%= image_tag "interaction-white.svg", :alt  => "interaction logo", :height => '98', :width => '150' %></a> -->
  </div>
</div>
<div class="row">
  <div class="grid-6 offset-3">
    <div class="mod-login">
      <h2 style="color: black; font-size: 30px;">Thank You!</h2>
      <hr />
      <p style="color: black; font-size: 16px;">Thank you for your interested in submitting data to the Partners Map. A system administrator will contact you soon about your request.</p>

      <br />
      <br />

      <a href="/">
        Return Home to PartnersMap
        <%= image_tag "partners_horizontal.png", :alt  => "partners map logo", :style => "width: 200px;margin-top: 25px;" %>
      </a>

      <div class="footer"></div>
    </div>
  </div>
</div>
