<div class="mod-downloads" id="downloadsView">
  <% if current_user.present? %>
  <span>Download this list: </span>
  <ul>
    <li><%= link_to 'CSV', '#exportDataView', :class => 'csv', :id => 'exportCsvBtn' %></li>
    <li><%= link_to 'XLS', xls_path, :class => 'xls', :id => 'exportXlsBtn' %></li>
    <li><%= link_to 'KML', kml_path, :class => 'kml', :id => 'exportKmlBtn' %></li>
    <li><%= link_to 'Embed this map', '#embedMapView', :class => 'embebed', :id => 'embedMapBtn' %></li>
  </ul>
  <% else %>
  <span>Please <a href="/session/new" style="position: inherit;background: inherit;display: inline;text-decoration: underline;padding: 0px;">Log In</a> to Download Project Export Files</span>
  <% end %>
</div>
