<div id="exportDataView" class="mod-overlay">
  <div class="mod-overlay-content">
    <div class="text">
      <a class="mod-overlay-close" href="#">x</a>
      <h2>Your export request has been made.</h2>
      <p>We'll email you with a link when the document is ready.</p>
    </div>
  </div>
</div>
