<% cache("#{@site.id}/footer") do %>

  <footer class="mod-footer">
    <div class="row">
      <div class="mod-footer-top">
        <div class="grid-4">
          <a href="http://<%= Settings.main_site_host %>">
            <%= image_tag "partners_vertical.png", :alt  => "partners map logo", :class  => "aid-map-logo", :width => '170', :height => '80', :style => "margin-left: 35px;" %>
          </a>
        </div>
        <div class="grid-6 offset-2">
          <%= render 'new_partials/main-menu' %>
        </div>
      </div>
    </div>

    <div class="mod-footer-bottom">
      <div class="row">
        <div class="grid-7">
          <div class="address">
            <p>325 Swanton Way, Decatur GA USA, 30030</p>
          </div>
        </div>
        <div class="grid-8 offset-2">
          <div class="signature">
            <p>
              Managed by <a href="http://www.childrenwithoutworms.org/" target="_blank">Children Without Worms</a> at <a href="http://www.taskforce.org/" target="_blank">The Task Force for Global Health</a>
            </p>
          </div>
        </div>
  		</div>
  	</div>

  </footer>
<% end %>
